.item {
    background-color: var(--mantine-color-body);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: scale(1.01);
    box-shadow: 0 4 px 10px rgba(0, 0, 0, 0.1);
}

.dragHandle {
    width: rem(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
    background-color: var(--mantine-color-body);
    border-radius: 4px;
}

.dragHandle:hover {
    background-color: #f0f0f0;
}
