:root {
    --box-size: 50px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.item {
    width: var(--box-size);
    height: var(--box-size);
    background-color: green;
    border-color: black;
}

.box .item {
    --n: 5;
    --rest: calc(100% - var(--n) * var(--box-size));
    margin: 10px calc(var(--rest) / var(--n) / 2);
}