.item {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.itemDragging {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dragHandle {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-right: 5px;
}

.dragHandle:active {
  cursor: grabbing;
}