.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: "Greycliff CF",
    var(--mantine-font-family), serif;
    line-height: 1;
    margin-bottom: var(--mantine-spacing-md);
}